body {
    background: url('labarraudiebg.png') center center repeat; 
    margin: 0;
    padding: 0;
}

.texteBar {
  opacity: 0.8;
  line-height: 1;
  padding: 0;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
}

div#container {
  display: flex;
  justify-content: center;
  border: 0px solid white;
  height: 100vh;
}

a, a:visited {
  color: #a3c4bc;
  text-decoration: none;
}

a.titreLien {
  font-size: 30px;
  display: block;
  color: #f6ede5; 
  margin: auto;
  width: 30%;
  border: 0px solid white;
  padding: 40px;
  text-align: center;
  border-radius: 25px;
}

a.titreLien:hover {
  color: ##f2dda4;
  transition: 0.5s;
  border: 0px solid #a3c4bc;
  background-color: #999093; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
