body {
    background-color: #413c58;
    margin: 0;
    padding: 0;
}

div#container {
  display: flex;
  justify-content: center;
  border: 0px solid #413c58;
  height: 100vh;
}

a, a:visited {
  color: #a3c4bc;
  text-decoration: none;
}

a.titreLien {
  font-size: 30px;
  display: block;
  color: #f2dda4;
  margin: auto;
  width: 30%;
  border: 2px solid #a3c4bc;
  padding: 40px;
  text-align: center;
  border-radius: 25px;
}

a.titreLien:hover {
  color: #a3c4bc;
  transition: 0.5s;
  border: 2px solid #a3c4bc;
  background-color: rgb(79, 78, 87);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}